<!--  ./views/index.handlebars -->
<div class="container py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">3cm短網址產生器 <i class="fas fa-key"></i></h5>
          <hr>
          <form method="POST" action="/">
            <div class="form-group form-row">
              <label for="length" class="col-md-4 col-form-label">
                要轉換的網址
              </label>
              <div class="col-md-4">
                <input type="text" name="originWeb" class="form-control" id="originWeb" value ="{{originWeb}}" required>
              </div>
              <button class="btn btn-success" type="submit"> &nbsp Go &nbsp </button>
            </div>
            <!-- submit button -->
            
            </form>
            {{#if shortenUrl}}
            <div class="form-group form-row">
              <label for="length" class="col-md-4 col-form-label">
                Your 3cm-url is :
              </label>
              <div class="col-md-4">
                <input type="text" name="shortenUrl" class="form-control" id="shortenUrl" value={{shortenUrl}}>
              </div>
              <button class="btn btn-success" data-clipboard-target="#shortenUrl">Copy </button>
            </div>
            
            {{/if}}
            
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>

<script>
  var clipboard = new ClipboardJS('.btn');

    clipboard.on('success', function (e) {
      console.log(e);
      alert(`Your 3cm-URL is ： {{shortenUrl}}`)
    });

    clipboard.on('error', function (e) {
      console.log(e);
    });
</script>